/* Style dla małych ekranów (mobile-first) */
body {
  font-size: 14px;
}

.navbar {
  flex-direction: column;
}

.menu-content ul {
  flex-direction: column;
}

/* Tablety (768px i więcej) */
@media (min-width: 768px) {
  body {
    font-size: 16px;
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .menu-content ul {
    flex-direction: row;
  }
}

/* Laptopy i większe ekrany (1024px i więcej) */
@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }

  .parent {
    grid-template-columns: repeat(5, 1fr);
  }

  .menu-content {
    display: flex;
  }
}
